/* general */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

/* avaliable players section */
#available-players {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
  gap: 20px; /* Space between the columns */
  margin-bottom: 20px;
}

.player {
  padding: 10px;
  border: 1px solid #333;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 10px;
}

.player img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* If you want a round image */
  margin-bottom: 10px;
}

.player span {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.player button {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  bborder-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.player button:hover {
  background-color: #45a049;
}

/* Teams Section */
#teams {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.team {
  width: 220px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.team h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
}

.team ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.team li {
  font-size: 10px;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #555;
}

.team li:last-child {
  margin-bottom: 0; /* Removes margin on the last item */
}

/* Assign Button Styling */
button.assign-btn {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button.assign-btn:hover {
  background-color: #0056b3;
}

button.assign-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
